@model NCKH.Models.Customer

<head>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-pie-demo.js"></script>

</head>

<h2>@Model.CustomerId</h2>
<div>
    @if (@Model.Gender)
    {
        <h3>Female</h3>
    }
    else
    {
        <h3>Male</h3>
    }
    <h3>@Model.SeniorCitizen</h3>
    @if (@Model.Partner)
    {
        <h3>Yes</h3>
    }
    else
    {
        <h3>No</h3>
    }
    @if (@Model.Partner)
    {
        <h3>Yes</h3>
    }
    else
    {
        <h3>No</h3>
    }
    <h3>@Model.Tenure</h3>
    @if (@Model.PhoneService)
    {
        <h3>Yes</h3>
    }
    else
    {
        <h3>No</h3>
    }
    @if (@Model.MultipleLines == true)
    {
        <h3>Yes</h3>
    }
    else if (@Model.MultipleLines == false)
    {
        <h3>No</h3>
    }
    else
    {
        <h3>No phone</h3>
    }
    <h3>@Model.InternetService</h3>
    @if (@Model.OnlineSecurity == true)
    {
        <h3>Yes</h3>
    }
    else if (@Model.OnlineSecurity == false)
    {
        <h3>No</h3>
    }
    else
    {
        <h3>No internet service</h3>
    }
    @if (@Model.OnlineBackup == true)
    {
        <h3>Yes</h3>
    }
    else if (@Model.OnlineBackup == false)
    {
        <h3>No</h3>
    }
    else
    {
        <h3>No internet service</h3>
    }
    @if (@Model.DeviceProtection == true)
    {
        <h3>Yes</h3>
    }
    else if (@Model.DeviceProtection == false)
    {
        <h3>No</h3>
    }
    else
    {
        <h3>No internet service</h3>
    }
    @if (@Model.TechSupport == true)
    {
        <h3>Yes</h3>
    }
    else if (@Model.TechSupport == false)
    {
        <h3>No</h3>
    }
    else
    {
        <h3>No internet service</h3>
    }
    @if (@Model.StreamingTv == true)
    {
        <h3>Yes</h3>
    }
    else if (@Model.StreamingTv == false)
    {
        <h3>No</h3>
    }
    else
    {
        <h3>No internet service</h3>
    }
    @if (@Model.StreamingMovies == true)
    {
        <h3>Yes</h3>
    }
    else if (@Model.StreamingMovies == false)
    {
        <h3>No</h3>
    }
    else
    {
        <h3>No internet service</h3>
    }
    <h3>@Model.Contract</h3>
    @if (@Model.PaperlessBilling)
    {
        <h3>Yes</h3>
    }
    else
    {
        <h3>No</h3>
    }
</div>
<a asp-action="Table">Back to List</a>