@{
    ViewData["Title"] = "Table";
}
@model IEnumerable<NCKH.Models.Customer>

<head>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-pie-demo.js"></script>

</head>

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!--Amount Column - Row -->
    <div class="d-flex flex-row align-items-center justify-content-between mb-4 ">
        <div class="bg-white rounded shadow-sm w-100 p-4 me-1">
            <span class="text-black fw-bolder">Total Columns:</span>
            <span>1000</span>
        </div>
        <div class="bg-white rounded shadow-sm w-100 p-4 ms-1">
            <span class="text-black fw-bolder">Total Columns:</span>
            <span>1000</span>
        </div>
    </div>
    <!-- Start Data Table -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>CustomerId</th>
                            <th>Gender</th>
                            <th>SeniorCitizen</th>
                            <th>Partner</th>
                            <th>Dependents</th>
                            <th>Tenure</th>
                            <th>PhoneService</th>
                            <th>MultipleLines</th>
                            <th>InternetService</th>
                            <th>OnlineSecurity</th>
                            <th>OnlineBackup</th>
                            <th>DeviceProtection</th>
                            <th>TechSupport</th>
                            <th>StreamingTv</th>
                            <th>StreamingMovies</th>
                            <th>Contract</th>
                            <th>PaperlessBilling</th>
                            <th>PaymentMethod</th>
                            <th>MonthlyCharges</th>
                            <th>TotalCharges</th>
                            <th>Churn</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in Model)
                        {
                            <tr>
                                <td>@customer.CustomerId</td>
                                @if (@customer.Gender)
                                {
                                    <td>Female</td>
                                }
                                else
                                {
                                    <td>Male</td>
                                }
                                <td>@customer.SeniorCitizen</td>
                                @if (@customer.Partner)
                                {
                                    <td>No</td>
                                }
                                else
                                {
                                    <td>Yes</td>
                                }
                                @if (@customer.Partner)
                                {
                                    <td>No</td>
                                }
                                else
                                {
                                    <td>Yes</td>
                                }
                                <td>@customer.Tenure</td>
                                @if (@customer.PhoneService)
                                {
                                    <td>No</td>
                                }
                                else
                                {
                                    <td>Yes</td>
                                }
                                @if (@customer.MultipleLines == true)
                                {
                                    <td>No</td>
                                }
                                else if (@customer.MultipleLines == false)
                                {
                                    <td>Yes</td>
                                }
                                else
                                {
                                    <td>No phone</td>
                                }
                                <td>@customer.InternetService</td>
                                @if (@customer.OnlineSecurity == true)
                                {
                                    <td>No</td>
                                }
                                else if (@customer.OnlineSecurity == false)
                                {
                                    <td>Yes</td>
                                }
                                else
                                {
                                    <td>No internet service</td>
                                }
                                @if (@customer.OnlineBackup == true)
                                {
                                    <td>No</td>
                                }
                                else if (@customer.OnlineBackup == false)
                                {
                                    <td>Yes</td>
                                }
                                else
                                {
                                    <td>No internet service</td>
                                }
                                @if (@customer.DeviceProtection == true)
                                {
                                    <td>No</td>
                                }
                                else if (@customer.DeviceProtection == false)
                                {
                                    <td>Yes</td>
                                }
                                else
                                {
                                    <td>No internet service</td>
                                }
                                @if (@customer.TechSupport == true)
                                {
                                    <td>No</td>
                                }
                                else if (@customer.TechSupport == false)
                                {
                                    <td>Yes</td>
                                }
                                else
                                {
                                    <td>No internet service</td>
                                }
                                @if (@customer.StreamingTv == true)
                                {
                                    <td>No</td>
                                }
                                else if (@customer.StreamingTv == false)
                                {
                                    <td>Yes</td>
                                }
                                else
                                {
                                    <td>No internet service</td>
                                }
                                @if (@customer.StreamingMovies == true)
                                {
                                    <td>No</td>
                                }
                                else if (@customer.StreamingMovies == false)
                                {
                                    <td>Yes</td>
                                }
                                else
                                {
                                    <td>No internet service</td>
                                }
                                <td>@customer.Contract</td>
                                @if (@customer.PaperlessBilling)
                                {
                                    <td>No</td>
                                }
                                else
                                {
                                    <td>Yes</td>
                                }
                                <td>@customer.PaymentMethod</td>
                                <td>@customer.MonthlyCharges</td>
                                <td>@customer.TotalCharges</td>
                                @if (@customer.Churn)
                                {
                                    <td>No</td>
                                }
                                else
                                {
                                    <td>Yes</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- End Data Table -->


</div>
<!-- /.container-fluid -->
